// Variables para definir colores y estilos generales
@primaryColor: #e94d58;
@secondaryColor: rgba(120, 192, 223, 0.452);
@highlightColor: antiquewhite;
@fontPrimary: Georgia, 'Times New Roman', Times, serif;
@fontSecondary: Verdana, Geneva, Tahoma, sans-serif;
@borderRadius: 30px;

// Mixin para botones
.button-styles(@bgColor: @primaryColor) {
  width: 100px;
  height: 40px;
  color: white;
  font-size: 1.2em;
  border-radius: @borderRadius;
  outline: none;
  cursor: pointer;
  box-shadow: 0 4px 6px gray;
  border: 2px solid @bgColor;
  background-color: @bgColor;
  transition: background-color 0.3s ease;
}

// Mixin para estilo de contenedores
.container-style(@width: 70%, @bgColor: @secondaryColor) {
  width: @width;
  margin: auto;
  background-color: @bgColor;
}

// Aplicación de mixins y variables
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#Contenedor {
  .container-style(); // Mixin para contenedores
  font-family: @fontPrimary;

  h1,
  h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 1.8em;
    color: #333;
  }
}

p {
  text-align: justify;
  line-height: 1.6;
  margin-top: 20px;
  color: #444;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 90px;
  gap: 10px;
}

.iteam {
  background-color: @highlightColor;
  color: blueviolet;
  font-family: @fontSecondary;
  text-align: center;
  padding: 20px;
  border-radius: 10px; // Bordes redondeados
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Sombras
  position: relative;
}

#ContenedorImagen {
  display: flex;
  flex-direction: column; // Coloca la imagen encima del párrafo
  align-items: center;
  margin-top: 20px;
}

.btn-group {
  position: sticky;
  top: 0; // Se pegará en la parte superior de la pantalla
  background-color: @secondaryColor;
  padding: 10px;
  z-index: 1000;
  text-align: center;
  h2 {
    margin-bottom: 10px;
  }
  button {
    .button-styles(); // Mixin para botones
  }
}

.actor-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 1fr)); // Tres columnas
  grid-template-rows: auto auto;
  column-gap: 100px;
  row-gap: 50px;
  margin: 0 auto; // Centrar el grid
  max-width: 80%; // Limita el ancho máximo del grid
  align-items: center;
  justify-items: center;
  background-color: #f0f0f0;
  padding: 50px;
  border-radius: 40px;

  img:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1); // Efecto de zoom a las imagenes
  }

  div {
    text-align: center;
  }

  img {
    width: 150px;
    height: auto;
    border-radius: 20px;
  }

  p {
    text-align: center;
  }
}
